<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <h3>Registered Office</h3>
    <small>Dream Job(India) Limited <br>
    Door No:1507,5th Floor,<br> Cafit Square Hilite Business Park,<br> Hilite City Panvel, Srinagar-Kanyakumari Hwy, <br> Palazhi, Kozhikode, Kerala 673014
    </small><br>
    <h3>Contact No</h3>
    9756784510, 0495 2213456 <br>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3848.449790288087!2d73.96952371484865!3d15.297772289361502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1fa6625646654e65!2sCybersquare!5e0!3m2!1sen!2sin!4v1649071802616!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</body>
</html>