<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered">
        <thead>
          <tr>
             <th scope="col">Candidate Name</th>
            <th scope="col">Company</th>
            <th scope="col">Post</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Arun</td>
            <td>Sigosoft Pvt. Ltd</td>
            <td>Flutter Developer</td>
          </tr>
          <tr>
            <td>Anoop</td>
            <td>Sigosoft Pvt. Ltd</td>
            <td>Flutter Developer</td>
          </tr>
          <tr>
            <td>Diya</td>
            <td>Sigosoft Pvt. Ltd</td>
            <td>Laraval Developer</td>
          </tr>
          <tr>
            <td>Karthik</td>
            <td>Sigosoft Pvt. Ltd</td>
            <td>Software Tester</td>
          </tr>
          <tr>
            <td>Anupriya</td>
            <td>Sigosoft Pvt. Ltd</td>
            <td>Flutter Developer</td>
          </tr>
          <tr>
            <td>Sriya</td>
            <td>Coddle Technologies Pvt. Ltd</td>
            <td>Software Test Engineer</td>
          </tr>
          <tr>
            <td>Devan</td>
            <td>Coddle Technologies Pvt. Ltd</td>
            <td>iOS Developer</td>
          </tr>
          <tr>
            <td>Sandra</td>
            <td>Coddle Technologies Pvt. Ltd</td>
            <td>Business Analyst</td>
          </tr>
          <tr>
            <td>Anargha</td>
            <td>Coddle Technologies Pvt. Ltd</td>
            <td>Software Test Engineer</td>
          </tr>
          <tr>
            <td>Ishaan</td>
            <td>Coddle Technologies Pvt. Ltd</td>
            <td>Business Development Executive</td>
          </tr>
          <tr>
            <td>Vishnu</td>
            <td>IPIX Technologies</td>
            <td>PHP Developer</td>
          </tr>
          <tr>
            <td>Gouri</td>
            <td>IPIX Technologies</td>
            <td>Front end Developer</td>
          </tr>
          <tr>
            <td>Sahila</td>
            <td>IPIX Technologies</td>
            <td>SEO Analyst</td>
          </tr>
          <tr>
            <td>Fida</td>
            <td>IPIX Technologies</td>
            <td>Tech Lead</td>
          </tr>
          <tr>
            <td>Riswana</td>
            <td>IPIX Technologies</td>
            <td>PHP Developer</td>
          </tr>
          <tr>
            <td>Shahanija</td>
            <td>Febno Technologies</td>
            <td>Chartered Accountant</td>
          </tr>
          <tr>
            <td>Amala Kurian</td>
            <td>Febno Technologies</td>
            <td>Project Cordinator</td>
          </tr>
          <tr>
            <td>Thanvika</td>
            <td>Febno Technologies</td>
            <td>Marketing Executive</td>
          </tr>
          <tr>
            <td>Arun Kumar</td>
            <td>Febno Technologies</td>
            <td>Marketing Executive</td>
          </tr>
          <tr>
            <td>Amal Devassi</td>
            <td>Febno Technologies</td>
            <td>Cloud Support Trainee</td>
          </tr>
          


          
        </tbody>
      </table>
</body>
</html>